# https://www.gnu.org/software/bash/manual/html_node/The-Set-Builtin.html
set -o errexit  # Exit script if a statement returns a non-true return value.
set -o nounset  # Exit script if you try to use an uninitialized variable.
set -o pipefail # Use the error status of the first failure, rather than that of the last item in a pipeline.
# set -o verbose # Print shell input lines as they are read.
# set -o xtrace  # Print a trace of simple commands

export USE_BAZEL_VERSION=6.0.0
export MACOSX_DEPLOYMENT_TARGET=14.2
export VENV_DIR=".venv"

VENV_DIR_EXISTS=$( ls "$VENV_DIR" &> /dev/null );

# if our venv dir DOES exist, activate it
if $VENV_DIR_EXISTS; then
  echo "direnv: source \"$VENV_DIR/bin/activate\""
  source "$VENV_DIR/bin/activate"
fi
